.privacyPolicy__wrapper{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 10;
    top: 0;
    background: rgba(0,0,0, .7);
}

.privacyPolicy {
    display: flex;
    flex-direction: column;
    width: 53%;
    height: 70%;
    padding: 60px 20px 60px 60px;
    margin: 0 23%;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.10);
    background-color: white;
    position: relative;
}

.privacyPolicy__header {
    position: relative;
}

.privacyPolicy__header::after {
    content: '';
    position: absolute;
    top: 57%;
    left: -5%;
    width: 120px;
    height: 18px;
    background: #F9BB88;
}

.privacyPolicy__title {
    font-size: 2.25rem;
    font-weight: 700;
    z-index: 1;
    position: relative;
}

.privacyPolicy__content {
    margin-top: 30px;
    line-height: 130%;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}

.contractOffer__wrapper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 10;
    top: 0;
    background: rgba(0,0,0, .7);
}

.contractOffer {
    display: flex;
    flex-direction: column;
    width: 53%;
    height: 70%;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.10);
    background-color: white;
    padding: 25px 60px;
    position: relative;
}

.contractOffer__header {
    position: relative;
}

.contractOffer__header::after {
    content: '';
    position: absolute;
    top: 61%;
    left: -3%;
    width: 120px;
    height: 18px;
    background: #F9BB88;
}

.contractOffer__title {
    font-size: 2.25rem;
    font-weight: 700;
    z-index: 1;
    position: relative;
}

.contractOffer__content {
    margin-top: 30px;
    line-height: 130%;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}

.active {
    display: flex;
}