@media screen and (max-width: 1600px){
    .title{
        padding: 80px 10% 100px 6% ;
    }

    h1{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 1450px){
    .title{
        padding: 80px 8% 100px 5%;
    }

    .title__subtitle {
        margin-top: 55px;
    }

    h1{
        font-size: 2.3rem;
    }
}

@media screen and (max-width: 1300px){
    .title{
        padding: 80px 6% 100px 4%;
    }

    h1{
        font-size: 2rem;
    }

    .title__subtitle {
        margin-top: 40px;
    }

    .title__img{
        width: 70%;
    }
}

@media screen and (max-width: 1150px){
    .title{
        padding: 80px 4% 100px 3%;
        gap: 50px;
    }
}

@media screen and (max-width: 1050px){
    .title{
        padding: 80px 2% 100px 2%;
    }

    .title__img{
        width: 65%;
    }
}

@media screen and (max-width: 1019px){
    .title{
        flex-direction: column;
        padding: 0 0 50px 0;
    }

    .title__img{
        width: 100%;
    }
}

@media screen and (max-width: 1600px){
    .aboutUs, .typesOfStairs, .promotion, .advantage, .examples, .excellence, .laborAct, .feedback {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (max-width: 1450px){
    .aboutUs, .typesOfStairs, .promotion, .advantage, .examples, .excellence, .laborAct, .feedback {
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media screen and (max-width: 1300px){
    .aboutUs, .typesOfStairs, .promotion, .advantage, .examples, .excellence, .laborAct, .feedback {
        padding-left: 6%;
        padding-right: 6%;
    }
}

@media screen and (max-width: 1150px){
    .aboutUs, .typesOfStairs, .promotion, .advantage, .examples, .excellence, .laborAct, .feedback {
        padding-left: 4%;
        padding-right: 4%;
    }
}

@media screen and (max-width: 1050px){
    .aboutUs, .typesOfStairs, .promotion, .advantage, .examples, .excellence, .laborAct, .feedback {
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media screen and (max-width: 1019px){
    .aboutUs__menu{
        flex-direction: column;
    }

    .aboutUs {
        background-position: 100% 15%, 32% 90%;
    }
}

@media screen and (max-width: 1019px){
    .typesOfStairs__item{
        min-width: 50%;
    }
}

@media screen and (max-width: 1019px){
    .promotion__form{
        flex-direction: column;
    }

    .promotion__sendAnApplication{
        flex-direction: column;
    }

    .privacyPolicyText{
        text-align: center;
    }
}

@media screen and (max-width: 1019px){
    .advantage__information{
        flex-direction: column;
        gap: 40px;
    }

    .advantage__text, .advantage__ourSpecialization, .advantage__information>img{
        width: 100%;
    }

    .advantage__item::after {
        top: -8px;
        left: -7px;
    }
}

@media screen and (max-width: 1450px){
    .examples{
        gap: 23%;
        background: linear-gradient(to right, #F4F4F4 64%, #F9BB88 64%);
    }
}

@media screen and (max-width: 1019px){
    .examples{
        flex-direction: column;
        padding-bottom: 40px;
    }

    .examples__arrows{
        display: none;
    }

    .examples__arrows{
        gap: 15px;
    }

    .examples__header::after{
        left: -2%;
    }

    .examples::after{
        height: 0;
    }

    .examples__navigation{
        align-self: center;
        background: none;
        margin-top: 35px;
    }

    .examples__points{
        gap: 25px;
    }

    .examples__point{
        background-color: #F9BB88;
        width: 20px;
        height: 20px;
    }

    .examples__point_active{
        background-color: #202020;
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 1019px){
    .excellence__content{
        flex-direction: column;
    }

    .excellence__list{
        width: 100%;
    }
}

@media screen and (max-width: 1019px){
    .laborAct__list{
        flex-direction: column;
    }

    .laborAct__item::after {
        top: 40px;
        left: 28px;
    }
}

@media screen and (max-width: 1019px){
    .feedback{
        justify-content: center;
    }
    
    .feedback__map{
        display: none;
    }
}









