@media screen and (max-width: 500px){
    body{
      background-image: url(/img/background-top-mobile.svg), url(/img/background-bottom-mobile.svg);
    }
  
    header {
      position: fixed;
      width: 100%;
      padding: 0;
      background: #172755;
      box-shadow: 0px 4px 4px #12214D;
      z-index: 999;
    }
  
    .headerContainer {
      height: 70px;
      width: 100%;
    }
  
    .headerNav {
      display: flex;
      justify-content: space-between;
      padding: 0 5% 0 5%;
      height: 100%;
      box-shadow: 0px 4px 4px #12214D;
    }
  
    .nav__menu {
      display: none;
    }

    .nav__item {
      display: inline-block;
      margin-top: 10px;
      margin-left: 20px;
    }
    
    .menuList:last-child {
      margin-bottom: 10px;
    }

    .personal-area {
      gap: 20px;
    }
  
    .personal-area__button--border {
      display: none;
    }

    .menuIcon {
      display: block;
      width: 24px;
      height: 24px;
      background: url("/img/menu-icon.png");
      cursor: pointer;
      transition: 0.2s;
    }

    .menuIconRotate {
      transform: rotate(90deg);
    }

    .burgerMenuActive {
      position: fixed;
      left: 0;
      top: 70px;
      display: flex;
      width: 100%;
      background: #21305f;
      animation: anim .5s forwards;
      box-shadow: 0px 4px 4px #12214D;
      z-index: 999;
    }

    @keyframes anim {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
      
  }