.card{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 12%;
}

.card__title{
    position: relative;
}

.card__title::after{
    content: '';
    position: absolute;
    top: 57%;
    left: -3%;
    width: 120px;
    height: 18px;
    background: #FF9646;
}

h2{
    font-size: 2.25rem;
    font-weight: 700;
    z-index: 1; 
    position: relative;
    line-height: 120%
}

.card__info{
    display: flex;
    gap: 50px;
}

.card__left-handSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 50px 0 0 25px;
}

.delimiter{
    width: 60%;
    border: 2px solid #F4F4F4;
}

.selectionOfStairs{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 40px 70px;
    background-color: #202020;
    font-size: 1.44rem;
    color: #F4F4F4;
    line-height: 140%;
}

.selectionOfStairs>p>span{
    font-weight: 700;
}

.moreDetails{
    width: 190px;
    height: 50px;
    border-radius: 4px;
    background: #F4F4F4;
    cursor: pointer;
    color: #202020;
    transition: 0.3s;
}

.moreDetails:hover{
    background: #FF9646;
}

.card__right-handSide{
    display: flex;
    flex-direction: column;
    padding: 50px 0 0 0;
    background: url(/content/card__right-handSide__background.svg);
    background-repeat: no-repeat;
    background-position: 85% 8%;
}

.name{
    font-size: 1.44rem;
    font-weight: 600;
    margin-bottom: 22px;
}

.decorative{
    width: 70px;
    height: 3px;
    background: #FF9646;
    margin-bottom: 18px;
}

.price{
    font-size: 1.44rem;
    font-weight: 600;
    padding: 0 5px;
}

.text{
    color: rgba(32, 32, 32, 0.40);
    line-height: 140%;
    margin-top: 22px;
    margin-bottom: 27px;
}

.term{
    font-size: 1.125rem;
    font-weight: 600;
    margin-left: 10px;
}

.submitApplication{
    width: 210px;
    height: 50px;
    background-color: #FF9646;
    border: none;
    border-radius: 4px;
    color: #F4F4F4;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    transition: 0.3s;
    margin-top: 30px;
}

.submitApplication:hover{
    background-color: #202020;
    color: white;
}

.card__listText{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 50px 0 20px;
}

.card__listText li{
    list-style: disc;
}

.card__right-handSide>p:last-child{
    margin-top: 20px;
}

.aboutUs{
    padding: 140px 12% 125px;
    background-image: url(/content/decoration.svg), url(/content/decoration.svg);
    background-repeat: no-repeat;
    background-position: 5% 78%, 95% 22%;
}

.aboutUs__menu{
    display: flex;
}

.aboutUs__item{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    border: 2px solid #F4F4F4;
    padding: 40px 25px 40px 30px;
    position: relative;
}

.aboutUs__item::after{
    content: '';
    position: absolute;
    top: 14%;
    left: 6%;
    width: 24px;
    height: 78px;
    background: #F9BB88;
}

.aboutUs__item img{
    z-index: 1;
}

.aboutUs__text{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.aboutUs__title{
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 140%;
}

.aboutUs__subtitle{
    font-size: 0.875rem;
    line-height: 170%;
}

.promotion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F4F4F4;;
    padding: 70px 12% 80px;
    background-image: url(/content/decoration.svg), url(/content/promotion__decoration.svg);
    background-repeat: no-repeat;
    background-position: 15% 27%, 9% 40%;
}

.promotion h2{
    text-align: center;
    margin-bottom: 30px;
}

.promotion__subtitle{
    font-size: 1.125rem;
    line-height: 160%;
    margin-bottom: 75px;
    text-align: center;
}

.promotion__form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 80px;
    margin-bottom: 60px;
}

.promotion__formItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.promotion__formName{
    font-size: 0.875rem;
    margin-left: 10px;
}

.promotion__input{
    width: 280px;
    background: #F4F4F4;;
    border: none;
    border-bottom: 2px solid rgba(32, 32, 32, 0.40);
    outline: none;
    font-size: 1.3rem;
}

.promotion__sendAnApplication{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.sendAnApplication{
    width: 240px;
    height: 50px;
    background-color: #FF9646;
    border: none;
    border-radius: 4px;
    color: #F4F4F4;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    transition: 0.3s;
}

.sendAnApplication:hover{
    background-color: #202020;
    color: white;
}

.privacyPolicyText{
    color: rgba(32, 32, 32, 0.40);
    font-size: 0.81rem;
    text-align: left;
}

.privacyPolicyText span{
    text-decoration: underline;
    cursor: pointer;
    transition: 0.2s;
}

.privacyPolicyText span:hover{
    color: rgba(32, 32, 32, 0.7);
}

.typesOfStairs{
    display: flex;
    flex-direction: column;
    padding: 110px 12% 120px;
}

.typesOfStairs__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
}

.typesOfStairs__header::after{
    content: '';
    position: absolute;
    top: 59%;
    left: -3%;
    width: 120px;
    height: 18px;
    background: #F9BB88;
}

.arrows{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75px;
}

.leftArrow{
    width: 15px;
    height: 15px;
    border-right: 3px solid #202020;
    border-bottom: 3px solid #202020;
    transform: rotate(135deg);
    cursor: pointer;
}

.typesOfStairs__delimiter{
    height: 34px;
    border: 2px solid #202020;
}

.rightArrow{
    width: 15px;
    height: 15px;
    border-right: 3px solid #202020;
    border-bottom: 3px solid #202020;
    transform: rotate(-45deg);
    cursor: pointer;
}

.typesOfStairs__list{
    display: flex;
    align-items: center;
    gap: 30px;
    overflow-x: auto;
}

.typesOfStairs__list::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.typesOfStairs__item{
    border: 2px solid #F4F4F4;
    min-width: 31%;
}

.typesOfStairs__staircaseImage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 373px;
    background: url(/content/typesOfStairs__decoration.svg);
    background-repeat: no-repeat;
    background-position: 83% 28%;
}

.typesOfStairs__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F4F4F4;
    gap: 20px;
    padding: 20px 30px 40px;
}

.typesOfStairs__title{
    font-size: 1.44rem;
    font-weight: 600;
}

.typesOfStairs__name{
    text-align: center;
}

.typesOfStairs__price{
    font-size: 0.875rem;
}

.typesOfStairs__price span{
    font-size: 1.44rem;
    font-weight: 600;
}

.more{
    width: 190px;
    height: 50px;
    font-size: 0.875rem;
    color: white;
    border-radius: 4px;
    border: none;
    background: #FF9646;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    transition: 0.3s;
}

.more:hover{
    background-color: #202020;
    color: white;
}

.laborAct{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 110px 12% 130px;
    background-image: linear-gradient(to right, #F4F4F4 63%, #F9BB88 63%);
    position: relative;
}

.laborAct::before{
    content: '';
    position: absolute; 
    width: 100%;
    height: 100%;
    background: url(/content/laborAct__decoration.svg) no-repeat 77% 16%;
}

.laborAct__header{
    position: relative;
}

.laborAct__header::after{
    content: '';
    position: absolute;
    top: 79%;
    left: -3%;
    width: 120px;
    height: 18px;
    background: #F9BB88;
}

.laborAct__list{
    display: flex;
    align-self: center;
    gap: 5px;
    background: #F4F4F4;
}

.laborAct__item{
    display: flex;
    flex-basis: 25%;
    gap: 20px;
    background-color: white;
    padding: 40px 30px 40px 35px;
    position: relative;
}

.laborAct__item::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 9%;
    width: 20px;
    height: 80px;
    background: #F9BB88;
}


.laborAct__paragraph{
    font-size: 2.25rem;
    margin-top: 20px;
    z-index: 1;
}

.laborAct__text{
    font-size: 0.875rem;
    line-height: 170%;
}

.laborAct__title{
    font-size: 1.125rem;
    font-weight: 700;
}

.feedback{
    display: flex;
    gap: 135px;
    padding: 110px 12% 110px 7%;
}

.feedback__map{
    width: 52%;
    height: 560px;
    border: 8px solid #FDE4CF;
}

.feedback__content{
    display: flex;
    flex-direction: column;
    width: 39%;
}

.feedback__header{
    margin-bottom: 40px;
    position: relative;
}

.feedback__header::after{
    content: '';
    position: absolute;
    top: 80%;
    left: -7%;
    width: 120px;
    height: 20px;
    background: #F9BB88; 
}

.feedback__form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.feedback__formItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 0.875rem;
    line-height: 160%;
}

.feedback__input{
    border: none;
    border-bottom: 2px solid rgba(32, 32, 32, 0.40);
    outline: none;
}

.feedback__btn{
    width: 277px;
    height: 50px;
    background-color: #FF9646;
    border: none;
    border-radius: 4px;
    color: #F4F4F4;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    transition: 0.3s;
}

.feedback__btn:hover{
    background-color: #202020;
    color: white;
}

.privacyPolicyText--center{
    text-align: center;
    width: 277px;
    margin-top: 10px;
}